In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/credit-risk/credit_risk_dataset.csv

# **Reading the Dataset**

In [2]:
data= pd.read_csv('/kaggle/input/credit-risk/credit_risk_dataset.csv')
data.sample(6).reset_index(drop=True).style.set_properties(**{'background-color': '#daefdd','color': 'black','border-color': '#8b8c8c'})

# **Data set Description**
* **person_age**: Age of the individual applying for the loan.
* **person_income**: Annual income of the individual.
* **person_home_ownership**: Type of home ownership of the individual.
* **rent**: The individual is currently renting a property.
* **mortgage**: The individual has a mortgage on the property they own.
* **own**: The individual owns their home outright.
* **other**: Other categories of home ownership that may be specific to the dataset.
* **person_emp_length**: Employment length of the individual in years.
* **loan_intent**: The intent behind the loan application.
* **loan_grade**: The grade assigned to the loan based on the creditworthiness of the borrower.
   * A: The borrower has a high creditworthiness, indicating low risk.
   * B: The borrower is relatively low-risk, but not as creditworthy as Grade A.
   * C: The borrower's creditworthiness is moderate.
   * D: The borrower is considered to have higher risk compared to previous grades.
   * E: The borrower's creditworthiness is lower, indicating a higher risk.
   * F: The borrower poses a significant credit risk.
   * G: The borrower's creditworthiness is the lowest, signifying the highest risk.
* **loan_amnt**: The loan amount requested by the individual.
* **loan_int_rate**: The interest rate associated with the loan.
* **loan_status**: Loan status, where 0 indicates non-default and 1 indicates default.
  * 0: Non-default - The borrower successfully repaid the loan as agreed, and there was no default.
  * 1: Default - The borrower failed to repay the loan according to the agreed-upon terms and defaulted on the loan.
* **loan_percent_income**: The percentage of income represented by the loan amount.
* **cb_person_default_on_fil**e: Historical default of the individual as per credit bureau records.
  * Y: The individual has a history of defaults on their credit file.
  * N: The individual does not have any history of defaults.
* **cb_preson_cred_hist_length**: The length of credit history for the individual.

# **Exploring the data se**t

In [3]:
data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
data.tail()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [5]:
data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [7]:
data.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [8]:
data.nunique()

person_age                      58
person_income                 4295
person_home_ownership            4
person_emp_length               36
loan_intent                      6
loan_grade                       7
loan_amnt                      753
loan_int_rate                  348
loan_status                      2
loan_percent_income             77
cb_person_default_on_file        2
cb_person_cred_hist_length      29
dtype: int64

In [9]:
data.duplicated().sum()

165

In [10]:
data.dropna(axis=0,inplace=True)

In [11]:
data.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

# **Looking for outliers and dealing with them**

In [12]:
max_age = data['person_age'].max()
min_age = data['person_age'].min()
print(f"The maximum Age {max_age}")
print(f"The minimum Age {min_age}")

# people with an age between x and y
def age_group(arr):
    lenarr = len(arr)
    for i in range(0,lenarr-1):
        next = arr[i]+1
        num_people = data['person_age'].between(next,arr[i+1]).sum()
        print(f'Peple with age between {next} and {arr[i+1]}: {num_people}')
        
age_group([0 ,18, 26, 36, 46, 56, 66])

The maximum Age 144
The minimum Age 20
Peple with age between 1 and 18: 0
Peple with age between 19 and 26: 15682
Peple with age between 27 and 36: 10422
Peple with age between 37 and 46: 2054
Peple with age between 47 and 56: 372
Peple with age between 57 and 66: 87